.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.box-content1{background-color:rgba(235,241,241,1);}

.box-content3{background-color:rgba(235,241,241,1);}

